.container_central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem;

    background: linear-gradient(176.91deg, #14120F 6.93%, #AD9E75 99.16%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    max-width: 100%;
    height: 79.1%;

}
.container_central button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136.43px;
    height: 53.56px;
    left: 31px;
    top: 834px;

    background: #F0C551;

    cursor: pointer;
}