.container_parts{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 16.8rem;
    min-height: 10.1rem !important;
}
.div_mini{
    position: absolute;
    width: 81.8px;
    height: 34.32px;

    background: #4F1914;
    
}
.div_max{
    position: absolute;
    width: 100%;
    height: 69px;
    left: 16.76px;

    background: #5F1414;
    border: 2px solid #E5E5E5;
}