.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  overflow: hidden;

  background-color: #f9a31b;
}

.page_game {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: center;

  padding: 2rem 0;
  gap: 0.4rem;

  background-color: #490a0a;
  width:90rem;
  height: 70rem;
}
.div_congratulation{position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.753);

  min-height: 100%;
  min-width: 100%;

  left: 0;
}
.div_congratulation{
  cursor: pointer;
}
.div_congratulation .congratulations {
  width: 60rem;
  height: 50rem;

}