.App {
  display: flex;
  align-items: center;
  justify-content: center;


  padding: 2rem;
  overflow: hidden;

  min-height: 100vh !important;

  background-color: #f9a31b;
  color: rgb(0, 0, 0);
}
.App h2 {
  font-family: "Reggae One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
}

.page_game {
  display: flex;
  flex-wrap: wrap;
  

  align-items: center;
  justify-content: center;

  gap: 0.2rem;

  background-color: #d9d9d9;
  min-width: calc(100% - 19.2rem);
  min-height: calc(100vh - 236px) !important;
  margin: auto 15px;
}
.div_congratulation{position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.753);

  min-height: 100%;
  min-width: 100%;

  left: 0;
}
.div_congratulation{
  cursor: pointer;
}
.div_congratulation .congratulations {
  width: 60rem;
  height: 50rem;

}